<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Mongo Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/crsimpson5/mongo-scraper">GitHub</span></a>
      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button class="btn btn-primary" id="scrape-btn">Scrape Articles</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="px-5">
      <div class="card border-dark" id="article" data-id="{{this._id}}">
        <div class="card-header bg-dark">
          <h3><a href={{this.url}} class="text-white">{{this.headline}}</a></h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <a href={{this.url}}>
                <img src="{{this.imgUrl}}" class="border border-dark" style="max-width: 100%">
              </a>
            </div>
            <div class="col-lg-6">
              <p class="card-text">{{this.summary}}</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <h4>Comments</h4>
      {{#each this.comments}}
      <div class="card border-dark">
        <div class="card-header bg-dark">
        </div>
        <div class="card-body">
          <p class="card-text">{{this.text}}
            <button class="btn btn-light btn-sm float-right delete-btn" data-id="{{this._id}}"><i
                class="fas fa-trash"></i></button>
          </p>

        </div>
      </div>
      <br>
      {{/each}}
      <br>

      <form>
        <div class="form-row">
          <div class="col-lg-11">
            <div class="form-group">
              <input type="text" class="form-control border-dark" id="comment-input" placeholder="Add a comment">
            </div>
          </div>
          <div class="col-lg-1">
            <button type="submit" class="btn btn-primary btn-block" id="submit-btn">Submit</button>
          </div>
        </div>
      </form>
      <br>
    </div>
  </div>
</div>